<mat-card class="mb20">
    <h2 mat-subheader>Add New Category</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-2">
                        <form (ngSubmit)="formSubmit()">
                                <mat-form-field class="w100" appearence="outline">
                                    <mat-label>Category title</mat-label>
                                    <input type="text" name="title" matInput placeholder="Enter Category title" [(ngModel)]="category.title" autofocus>
                                </mat-form-field>
                                <mat-form-field class="w100" appearence="outline">
                                        <mat-label>Description</mat-label>
                                        <textarea  name="description" matInput placeholder="Enter its description" 
                                        [(ngModel)]="category.description" rows="11">
                                        </textarea>
                                </mat-form-field>
                                <div class="container text-center mt15">
                                    <button mat-raised-button color="accent" class="text-center">Add to Categories</button>
                                </div>
                        </form>
                </div>
                    
            </div>
        </div>
        
    </mat-card-content>
</mat-card>