<mat-card class="mb20">
    <div class="container bootstrap snippets bootdey mt20">
    <div class="row">
      <div class="profile-nav col-md-3">
          <div class="panel">
              <div class="user-heading round">
                  <a href="#">
                      <img class="profile-image" src="../../../../assets/tayari.png" alt="">
                  </a>
                  <h1>{{user.firstName}} {{user.lastName}}</h1>
                  <p>{{user.username}}</p>
              </div>
          </div>
      </div>
      <div class="profile-info col-md-9">
          <div class="panel">
              <div class="panel-body bio-graph-info">
                  <h1>Profile Details</h1>
                  <br>
                  <div class="row">
                      <div class="bio-row">
                          <h3> <b> First Name </b> : {{user.firstName}}</h3>
                      </div>
                      <div class="bio-row"> 
                          <h3><b>Last Name </b> : {{user.lastName}} </h3>
                      </div>
                      <div class="bio-row">
                          <h3><b>Phone </b> : {{user.phone}}</h3>
                      </div>
                      <div class="bio-row">
                          <h3><b>Email</b> : {{user.email}}</h3>
                      </div>
                      <div class="bio-row">
                          <h3><b>Role </b> : {{user.authorities[0].authority}}</h3>
                      </div>
                      <div class="bio-row">
                          <h3><b>Status </b>: {{ user.enabled ? "ACTIVE" : "NOACTIVE" }}</h3>
                      </div>
                  </div>
              </div>
          </div>
           </div>
    </div>
    </div>
    <mat-card-actions class="text-center mb20">
        <button mat-raised-button color="primary">Update
        </button>
        <button mat-raised-button color="accent">Share
            </button>
    </mat-card-actions>
    
    </mat-card>