<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- instructions -->
                    <mat-card style="margin-top: 70px " class="fontStyle"> 
                        <mat-card-header>
                            <mat-card-title> Instructions </mat-card-title>
                            <mat-card-subtitle>
                                Read carefully these instructions 
                            </mat-card-subtitle>        
                        </mat-card-header>
                            
                        <mat-card-content>
                            <p> <b> ></b> Do not refresh the page otherwise you will get new questions</p>
                            <p> <b> ></b> Do not switch the tabs</p>
                            <p> <b> ></b> Do not minimize the window</p>
                        </mat-card-content>
                    </mat-card>
            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1 class="mt20">On Going Quiz <b>{{ questions [0].quiz.title}}</b></h1>
                </ng-container>
                <mat-card *ngFor='let q of questions ; let i=index;'   class="mt10 fontStyle">
                    
                    <mat-card-content class="fontStyle">
                        <p>
                            <b>Q {{ i + 1}}) </b> 
                            <span class="ml10" [innerHTML]="q.content"></span>
                        
                        </p>
                      
                        <mat-divider>
                        </mat-divider>
                        <br/>
                        <div class="row mt20" >
                            <div class="col-md-6">
                                <input
                                   type="radio"
                                    [value]="q.option1"
                                    name={{i}}
                                    [(ngModel)]="q.givenAnswer"
                                />
                                {{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input 
                                  type="radio" 
                                  [value]="q.option2" 
                                  name={{i}}
                                  [(ngModel)]="q.givenAnswer"
                                 />
                                {{q.option2}} 
                            </div>
                        </div>

                        <div class="row mt20">
                            <div class="col-md-6">
                            <input 
                               type="radio" 
                               [value]="q.option3" 
                               name={{i}}
                               [(ngModel)]="q.givenAnswer"
                             />
                                {{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input 
                                  type="radio" 
                                  [value]="q.option4" 
                                  name={{i}}
                                  [(ngModel)]="q.givenAnswer"
                                  />
                                {{q.option4}}
                            </div>
                            
                        </div>
      
                    </mat-card-content >
                    
                </mat-card >
                <div class="container text-center mt20 mb20">
                    <button  (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>

                </div>

                
            </div>
            <div class="col-md-2">
                <!-- progress -->
                <mat-card style="margin-top: 70px " class="fontStyle"> 
                    <mat-card-header>
                        <mat-card-title> Progress </mat-card-title>
                        <mat-card-subtitle>
                            Quiz will automatically submitted when timer reaches  <b>0:0</b>
                        </mat-card-subtitle>
                            
                    </mat-card-header>
                        
                    <mat-card-content>
                        <h1 class="text-center"><b>{{getFormattedTime()}}</b></h1>
                         <mat-spinner color="accent"  style="margin: auto" mode="determinate" [value]=" (timer / (this.questions.length * 2 * 60))*100"></mat-spinner>
                    </mat-card-content>
                </mat-card>
                    
            </div>
        </div>
    </div>
</div>

<!--show the result-->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20" >
        <div class="col-md-6 offset-md-3">
            <!--<mat-card class="fontStyle card-container">
                <mat-card-header class="text-center mt20">
                    <mat-card-title class="card-title">
                        <b>Quiz Result : </b>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">                   
                    <h2>Marks Got :<b>{{marksGot}}</b></h2>
                    <h2>Correct Answers :<b> {{ correctAnswers }}</b></h2>
                    <h2>Questions Attempted :<b> {{ attempted}}</b></h2>
                </mat-card-content>
                <br>
                <mat-card-actions  class="text-center mb20">
                    <button  mat-stroked-button color="primary" (click)="printPage()"
                    >Print</button>
                    <button  mat-stroked-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-actions>
            </mat-card>-->
            <div class="container1 fontStyle card-container">
                <div class="parent">
                  <div class="wave-card">
                <mat-card-header class="text-center mb20">
                    <mat-card-title class="card-title">
                        <b>Quiz Result : </b>
                    </mat-card-title>
                    <br><br>
                </mat-card-header>
                 
                <div class="wave-card-shape"></div>
                <div class="wave-card-shape"></div>
                <div class="wave-card-shape"></div>
                <mat-card-content class="text-center colorst">                   
                    <h2><i>Marks Got :</i><b> {{ marksGot }}</b></h2>
                    <h2><i>Correct Answers :</i><b> {{ correctAnswers }}</b></h2>
                    <h2><i>Questions Attempted :</i><b> {{ attempted}}</b></h2>
                </mat-card-content>
                <br>
                <mat-card-actions  class="text-center mb20">
                    <button  mat-stroked-button color="primary" (click)="printPage()"
                    >Print</button>
                    <button  mat-stroked-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-actions>
            
                  </div>
                </div>
              </div>
            
        </div>
    </div>
</div>