.profile-image{
    max-width :110px;
    max-height: 110px;
    border-radius: 50% ;
 }
 .table{
     width: 100%;
     
 }
 .table tr td{
     padding :10px 15px;
     border: 1px solid pink;
     border-collapse: collapse
 }
 h1 , h2 , button ,p{
    font-family: 'Poppins', sans-serif !important;

}