.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}
.example-header-image{
    background-image: url("/assets/exam.png");
    background-size: cover;
}

h1 , h2 ,h3, button ,p , .fontStyle {
    font-family: 'Poppins', sans-serif !important;
}