.full-width{
   width :100% 
}
.reponsive{
   max-width: 100%;
}

h1 , h2 , button ,p{
   font-family: 'Poppins', sans-serif !important;

}

.padd{
   padding-top: 90px;
}

a{
   font-size:smaller;
   color:#2963c8 ;
   padding-left: 195px;
   text-decoration:none; 
}


.shape1 {
   position: absolute;
   z-index: 0;
   width: 1000px;
   bottom: -90px;
   left: -15px;
   opacity: 0.1;
 }
 

 @media screen and (max-width: 870px) {
   .hamburger-menu {
     display: flex;
   }
 .shape1 {
   bottom: -180px;
   left: -150px;
 }
}
