<div class="bootstrap-wrapper">
            <div class="big-wrapper light">
                <img src="../../../assets/shape.png" alt="" class="shape" />
                <div class="showcase-area">
                  <div class="container">
                    <div class="left">
                      <div class="big-title">
                        <h1 class="big-title"><b>Future is here 😍</b> !</h1>
                        <h2>With <b>Bicod'up </b>Our only concern is your education.</h2>
                      </div>
                      <p class="text">
                        Bicod'up plateform  gives you A to Z education , with a variety of courses and online quizzes , to scale Up .
                      </p>
                      <div class="cta">
                        <a [routerLink]="'/login'" class="btn">Get started</a>
                      </div>
                    </div>
        
                    <div class="right">
                      <img src="../../../assets/person.png" alt="Person Image" class="person" />
                    </div>
                  </div>
                </div>
        
              </div>

        </div>
